<%= form_with url: categorys_path, scope: :category do |f|%>
<div>
 <%= f.label :name%>
 <%= f.text_field :name, class: 'w-full border border-gray-200 py-2'%>
</div>

<div>
 <%= f.label :icon%>
 <%= f.text_field :icon, class: 'w-full border border-gray-200 py-2'%>
</div>

 <%= f.submit  class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" %>
<% end %>